{% extends 'base.html' %} {% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a> {% endblock %} {% block content %}
<div class="row">
    <div class="col l8 m12">
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">指导教师</span>
            <div class="card-body">
                {% for teacher in member_teacher%}
                <h5>{{ teacher.name }}</h5>
                <div class="intro-content">
                    {{ teacher.intro|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">在读硕士</span>
            <div class="card-body">
                <table>
                    <tbody>
                    <tr>
                    {% for master in member_master %}
                        <td style="width: 25%">
                        • <a href="{{ master.url }}" target="_blank">{{ master.name }}
                        </a> <i class="mdi-action-open-in-new"></i> -
                        {{ master.start_date|date:"Y级" }}</td>
                        {% if forloop.counter|divisibleby:'4' %}
                        <tr>
                        {% endif %}
                    {% empty %}
                    <h5>没有成员</h5>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">在读博士</span>
            <div class="card-body">
                <table>
                    <tbody>
                    <tr>
                    {% for master in member_doctor %}
                        <td style="width: 25%">
                        • <a href="{{ master.url }}" target="_blank">{{ master.name }}
                        </a> <i class="mdi-action-open-in-new"></i> -
                        {{ master.start_date|date:"Y级" }}</td>
                        {% if forloop.counter|divisibleby:'4' %}
                        <tr>
                        {% endif %}
                    {% empty %}
                    <h5>没有成员</h5>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col l4 m12">
        <div class="card">
            <div class="card-content"><span class="card-title green-text text-darken-3">往届毕业生</span>
                <div class="card-body">
                    <span class="card-title">2012届</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>

                    <span class="card-title">2011届</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>

                    <span class="card-title">2010届</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
