{% extends 'base.html' %} {% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a> {% endblock %} {% block content %}
<div class="row">
    <div class="col l8 m12">
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">指导教师</span>
            <div class="card-body">
                {% for teacher in member_teacher%}
                <h5>{{ teacher.name }}</h5>
                <div class="intro-content">
                    {{ teacher.intro|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">在读硕士</span>
            <div class="card-body">
                <ul>
                    {% for master in member_master %}
                    <li>
                        <a href="/member/{{ master.id }}" target="_blank">{{ master.name }}</a> - {{ master.start_date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">在读博士</span>
            <div class="card-body">
                <ul>
                    {% for master in member_doctor %}
                    <li>
                        <a href="/member/{{ master.id }}" target="_blank">{{ master.name }}</a> - {{ master.start_date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col l4 m12">
        <div class="card">
            <div class="card-content"><span class="card-title green-text text-darken-3">往届毕业生</span>
                <div class="card-body">
                    <span class="card-title">2012届</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>

                    <span class="card-title">2013届</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
