{% extends 'base.html' %}

{% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a>
{% endblock %}
{% block content %}
<div class="row">
<div class="col l8 m12">
        <div class="card data-card">
        <div class="card-content">
            <a href="">张林伟</a> <span>1天前</span>
            <div class="card-title">
                <a href="">这是标题</a>
            </div>
            <div>
                时间的浪费就阿里手机的了激发来时间的开房记录考试等级分开始几点了开发就
                时间的浪费就阿里手机的了激发来时间的开房记录考试等级分开始几点了开发就

            </div>
        </div>
        </div>

         <div class="card data-card">
        <div class="card-content">
            <a href="">张林伟</a> <span>1天前</span>
            <div class="card-title">
                这是标题
            </div>
            <div>
                时间的浪费就阿里手机的了激发来时间的开房记录考试等级分开始几点了开发就
            </div>
        </div>
        </div>

         <div class="card data-card">
        <div class="card-content">
            <a href="">张林伟</a> <span>1天前</span>
            <div class="card-title">
                这是标题
            </div>
            <div>
                时间的浪费就阿里手机的了激发来时间的开房记录考试等级分开始几点了开发就
            </div>
        </div>
        </div>
</div>


    <div class="col l4 m12">
        <div class="card-panel">
            <div class="card-title">Django-Viewflow</div>
            <p>Easy to use, programmable workflow framework on top of Django</p>
        </div>
    </div>

</div>
{% endblock %}