{% extends 'base.html' %}

{% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col l9 m12" >

        <div class="card card-panel">
            <a href="/files/dataset/"><span class="card-title green-text text-darken-3">数据集下载</span></a>
            <div class="card-body">

                <ul>
                    {% for item in dataset_list %}
                    <li class="news-item">
                    <h6><span class="green-text text-darken-2" style="font-size: 20px">• </span>
                        <a href="{{ item.url }}" target="_blank" title="{{ item.name }}">
                            {{ item.name  }} - {{ item.intro|striptags|truncatechars:20 }}
                        </a>
                        <span class="fr">{{ item.pub_date|date:"Y-m-d H:i:m"}}</span>
                    </h6>
                    </li>

                    {% endfor %}
                </ul>
                <div class="row right"><a href="/files/dataset/">更多>></a></div>

            </div>
        </div>



        <div class="card card-panel">
            <a href="/files/program/"><span class="card-title green-text text-darken-3">程序下载</span></a>
            <div class="card-body">

                <ul>
                    {% for item in program_list %}
                    <li class="news-item">
                    <h6><span class="green-text text-darken-2" style="font-size: 20px">• </span>
                        <a href="{{ item.url }}" target="_blank" title="{{ item.name }}">
                            {{ item.name  }} - {{ item.intro|striptags|truncatechars:20 }}
                        </a>
                        <span class="fr">{{ item.pub_date|date:"Y-m-d H:i:m"}}</span>
                    </h6>
                    </li>

                    {% endfor %}
                </ul>
                <div class="row right"><a href="/files/program/">更多>></a></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
