
{% extends 'base.html' %}

{% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a href="/files/">{{current_module.label}}</a> ⟩<a class="active">数据集</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col l12 m12" >
        {% for item in program_list %}
        <div class="card card-panel">
            <div class="">
                    <h6 style="margin-top:0px;"><span class="green-text text-darken-2" style="font-size: 24px">
                        <a href="{{ item.url }}">{{ item.name }} <i class="mdi-file-file-download"></i></a>
                        </span>
                    </h6>
                    发布于 <span class="green-text">
                    {{ item.pub_date|date:"Y-m-d H:i:s"}}</span>
                    <div>
                        <p>
                        {{ item.intro | safe }}</p>
                    </div>
            </div>
        </div>
        {% empty %}
        <div class="card card-panel">
        <h5>这里是空的!</h5>
        </div>
        {% endfor %}
      </div>

</div>
{% endblock %}
