{% extends 'base.html' %}

{% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col l10 m12" >
        <div class="card-panel">
            <h4><a href="/platform/ppimirfs/" target="_blank">PPImiRFS</a></h4>
            <p>
            <h5>
                DESCRIPTION
            </h5>
            Plant microRNAs (miRNAs) play critical roles in response to abiotic and biotic stresses. But the functions of most plant miRNAs are still unknown. Some methods have been proposed to infer the potential functions of miRNAs by comparing the functional similarities among miRNAs.
            PPImiRFS is based on the protein-protein interaction network with GO semantic similarity weighting and graph theoretic property.
            </p>
            <p>
            <h5> PPImiRFS works in three steps: </h5>
            <ol>
                <li>
                Input one pair of predicted miRNAs </li>
                <li>
                Extract the target gene set of each miRNA of the predicted miRNA pair</li>
                <li>
                Compute the functional similarity score of the two target gene sets, namely, the functional similarity score of the two miRNAs
                </li> 
            </ol>
            </p>

        </div>

    </div>
</div>
{% endblock %}
