{% extends 'base.html' %} {% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a href="/platform/">{{ current_module.label }}</a> ⟩<a class="active">PPImiRFS</a>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col l10 m12">
        <div class="card">
            {% load material_form %}
            <form method="POST" enctype="multipart/form-data" class="viewform">
                {% csrf_token %}
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">PPImiRFS Input Files</span>
                    <p>The file predicted_miRNA_pairs.txt must be in tabbed format, separated by tabulations (\t): 
                    <br>miRNA1  miRNA2
                    <br>miRNA3  miRNA4
                    <br>...

                    <br>The file wppin.txt must be in tabbed format, separated by tabulations (\t): 
                    <br>gene1   gene2   score
                    <br>gene3   gene4   score
                    <br>...</p>
                    {% form form=form %}{% endform %}
                </div>
                <div class="card-action">
                    <div class="right-align">
                        <button type="submit" name="_submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                 </div>
            </form>

        </div>

    </div>
</div>

{% endblock %}
