{% extends 'base.html' %} {% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a href="/news/">{{ article.category }}</a> ⟩<a class="active">{{article.title}}</a>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col l10 m12">
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">
            {{ article.title }}</span>
            <p class="" ><a href="{{ article.author.url }}">{{article.author.name}}</a> 发表于 {{ article.pub_date }}</p>
            <div class="card-body">

                {{ article.content|safe }}



            </div>

            <div class="divider"></div>
            <div class="row right-align" style="margin:10px">
            <span class="grey-text"><i>阅读量: {{ article.read_count }}</i></span>

            </div>


        </div>

    </div>
</div>

{% endblock %}
