{% extends 'base.html' %}
{% block extrahead %}
<style>
.fr{
    float: right;
}

.pagination>.col {
                height: 50px;
                line-height: 48px;
                padding-top: 10px;
            }

</style>
{% endblock%}

{% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a>
{% endblock %}

{% block content %}

{% load extras %}
<div class="row">
<div class="col l8 m12" >
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">最新发布</span>
            <div class="card-body">

               <ul>
                    {% for news in latest_news %}
                    <li class="news-item">
                    <h6><span class="green-text text-darken-2" style="font-size: 20px">• </span>
                    <a href="{{ news.url }}" target="_blank" title="{{ news.title }}">
                            {{ news.title }}
                        </a>
                        <span class="fr">{{ news.pub_date|date:"Y-m-d H:i:m"}}</span>
                        </h6>
                    </li>

                    {% endfor %}
                </ul>

                <div class="row pagination" style="margin-bottom: 0">
                    <div class="col s12 right-align">1-{{ latest_news.count}} of {{ latest_news.count}}<span style="padding-left:30px" class="right">

                        <i class="mdi-image-navigate-before small grey-text"></i>
                        &nbsp;
                        <a href=""><i class="mdi-image-navigate-next small"></i></a>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col l4 m12">
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">热门新闻</span>
            <div class="card-body">
                <ul>
                    {% for news in popular_news %}
                    <li class="news-item"><h6><span class="green-text text-darken-2" style="font-size: 20px">• </span>
                    <a href="{{ news.url }}" target="_blank" title="{{ news.title }}">
                            {{ news.title }}
                        </a>
                        <!-- <span class="fr">{{ news.pub_date|date:"Y-m-d H:i:m"}}</span> -->
                        </h6>
                    </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}
