{% extends "base.html" %} 
{% block title %} 学术研究 {% endblock %} 

{% block script %}
<style>
.posts h2 {
    margin-top: 0;
}

.posts h2>a {
    color: #2c3e50;
}
</style>

{% endblock %} 

{% block content %}
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">学术研究</li>
</ol>
<div class="posts">
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/131219814698/changes-to-bootswatch-api">15 October 2015</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/131219814698/changes-to-bootswatch-api">Changes to Bootswatch API</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p>If you’re using the Bootswatch API, please update your request to&nbsp;<a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fbootswatch.com%2Fapi%2F3.json&amp;t=MjQ5MjYxZDExYzBlOTRiMTZlZjliNmNmZDJlYjBlZmE2MjMzZGI3ZixyeENreFFiYg%3D%3D">https://bootswatch.com/api/3.json</a>. The old endpoint will cease to exist on <b>December 16, 2015</b>.</p>
                <p>Up to this point, the API has been made available through AppFog. However, they recently announced that they’ll be retiring the free tier this December.&nbsp;Big thanks to AppFog for the service they provided.</p>
                <p>The new URL is live, and as a bonus, available via https. More information at&nbsp;<a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fhelp%2F%23api&amp;t=MGUwYTlmNWYwYzQ0YzBjMTAwNDU1N2FkYzg0NjAxZDBiY2VhMzM1NCxyeENreFFiYg%3D%3D">http://bootswatch.com/help/#api</a>.
                    <br>
                </p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/125928533622/find-the-right-google-web-fonts-for-your-project">5 August 2015</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/125928533622/find-the-right-google-web-fonts-for-your-project">Find the right Google Web Fonts for your project with FontCDN</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <figure data-orig-width="1828" data-orig-height="916" class="tmblr-full"><img src="http://40.media.tumblr.com/ceb65566c1e6a9d528d58f4c9e9c6140/tumblr_inline_nskibiynd81qb17pp_500.png" alt="image" data-orig-width="1828" data-orig-height="916" width="500" height="250"></figure>
                <p><a href="http://t.umblr.com/redirect?z=http%3A%2F%2Ffontcdn.org&amp;t=NWI2Y2NkNmVkMjkzMDFmMzU4Y2E1ZTEyN2E3NTJjM2UxZmZhOWE3Zixmcm84YWxjdw%3D%3D">FontCDN</a> is a new tool for those of us who love Google Fonts as a service, but want a faster way to grab the code we need. We built FontCDN so you can easily search their 700+ web fonts and quickly grab any font’s HTML and CSS.&nbsp;</p>
                <p>For more on the motivations behind FontCDN, check out the post&nbsp;<a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fthomaspark.co%2F2015%2F08%2Fa-better-way-to-search-google-fonts%2F&amp;t=YWRmMWRkMmMyN2JhMmRhNmQwMmFjNzJkYjVkMWFkNjlkODY4OTE3Mixmcm84YWxjdw%3D%3D">A Better Way to Search Google Fonts</a>. If you’re interested in figuring out which platforms you should support when building tools for other web developers, check out the Bootswatch and GlyphSearch data presented in the post <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fthomaspark.co%2F2015%2F08%2Fdeveloping-for-web-developers%2F&amp;t=NTlkZTgzOWY1ZTk0MzkxYzMzOTQ0Zjc5YzM0MjYyNmNmNGVkMzc3Nixmcm84YWxjdw%3D%3D">Developing for Web Developers</a>.</p>
                <p>FontCDN is available at <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Ffontcdn.org&amp;t=NWI2Y2NkNmVkMjkzMDFmMzU4Y2E1ZTEyN2E3NTJjM2UxZmZhOWE3Zixmcm84YWxjdw%3D%3D">fontcdn.org</a>.</p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/121836141837/trying-out-themes-on-jsfiddle">18 June 2015</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/121836141837/trying-out-themes-on-jsfiddle">Trying out themes on JSFiddle</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p>On any theme page, you can now click “Open Sandbox” to open&nbsp;<a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fjsfiddle.net%2Fbootswatch%2Fgqhenoox%2F&amp;t=ZmZmYjZmOTJkYTU2MjU4ZDU1MDY4MGE5NWI3YjlmMDQzNjdjZWQwNSxSYXI2T3JMMQ%3D%3D">a JSFiddle page</a> with that theme and any dependencies pre-loaded.</p>
                <figure data-orig-width="1264" data-orig-height="720" class="tmblr-full"><img src="http://36.media.tumblr.com/9b334caa5c4c6747f6232be81a00f683/tumblr_inline_nq3yw5ibyb1qb17pp_500.png" alt="image" data-orig-width="1264" data-orig-height="720" width="500" height="284"></figure>
                <p>Coupled with <a href="http://news.bootswatch.com/post/78442060195/grab-html-snippets-from-bootswatch">our snippets feature</a> and <a href="http://news.bootswatch.com/post/80579869865/previewing-bootstrap-snippets-with-bootswatch">Bootsnipp</a>, it’s now easier than ever to experiment with the themes.&nbsp;</p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/110161099627/material-design-in-bootstrap-with-paper">5 February 2015</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/110161099627/material-design-in-bootstrap-with-paper">Material design in Bootstrap with Paper</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p><a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fpaper%2F&amp;t=YWFiMmNlY2MxOTljODkxYmE0YjE3MTIxMDJkNzRkODExMzdiMWY0ZixWSk5va2VmRQ%3D%3D">Paper</a> brings the material design’s principles of <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fwww.google.com%2Fdesign%2Fspec%2Fwhat-is-material%2Fmaterial-properties.html%23material-properties-transforming-material&amp;t=NWQ2ZjRkMDE5YjYyNGQyYTE0OTNjOGQ3Zjg1YTc4YzQ4ZTMwNDVhNSxWSk5va2VmRQ%3D%3D">transformation</a> and <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fwww.google.com%2Fdesign%2Fspec%2Fwhat-is-material%2Fmaterial-properties.html%23material-properties-movement-of-material&amp;t=OTljMGY0ZjAwNjBkMDJmZjgzNWM0YjU3MDc0MTVhNzM3YWU5MjU4MyxWSk5va2VmRQ%3D%3D">movement</a>&nbsp;to Bootstrap. Best of all, Paper’s animations are implemented in pure CSS, meaning no custom markup or JS is needed.&nbsp;In case you missed them, here’s a quick tour of these effects in action.</p>
                <h2>Buttons</h2>
                <p>When hovering over a button, a shadow edges in. On click, the shadow fills the button.</p>
                <figure class=""><img src="http://38.media.tumblr.com/4c897302d9d7b34698d6a112aa14f880/tumblr_inline_nj9m1ot5tS1qb17pp.gif" alt="image"></figure>
                <h2>Input Fields</h2>
                <p>Input fields are marked by a bottom border, which transitions to a wider, more colorful border when focused.</p>
                <figure class=""><img src="http://38.media.tumblr.com/a9172fbe7ea8efe85db93f056a214011/tumblr_inline_nj9mftmuCy1qb17pp.gif" alt="image"></figure>
                <h2>Checkboxes</h2>
                <p>Paper makes use of custom checkboxes that transform in shape and color when selected.</p>
                <figure class=""><img src="http://33.media.tumblr.com/bbe363617116f673f637406a5ef96beb/tumblr_inline_nj9mg2UeNd1qb17pp.gif" alt="image"></figure>
                <h2>Radio Buttons</h2>
                <p>Radio buttons are much the same.</p>
                <figure class=""><img src="http://31.media.tumblr.com/2354f87c169620b7c064e5c4d3307178/tumblr_inline_nj9mgb2MYy1qb17pp.gif" alt="image"></figure>
                <h2>Progress Bars</h2>
                <p>Not an animation, but progress bars in Paper have contextual backgrounds.</p>
                <figure class=""><img src="http://38.media.tumblr.com/949da8d615b57b48484ada3e9b0c3d29/tumblr_inline_nj9mgiB4Tn1qb17pp.gif" alt="image"></figure>
                <h2>Floating Labels</h2>
                <p>We weren’t able to implement floating labels in pure CSS, but you only need to add a bit of code to achieve this effect. <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fjsfiddle.net%2FRyanWalters%2Fz9ymd852%2F&amp;t=Mzk5ZjU3ZGEyZTVmNzAwMWQ4M2U3NmY3NzUyZDgyNjBjOGFmNzJiNSxWSk5va2VmRQ%3D%3D">Check out the source</a>.</p>
                <figure class=""><img src="http://33.media.tumblr.com/b585cd900e7071642cdb46cff48d840f/tumblr_inline_nj9mgrs0Mp1qb17pp.gif" alt="image"></figure>
                <p>A big thanks to <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fryanwalters.co%2F&amp;t=MmFiZjQyOTczMjRhZjIxYmMzZTY4ZjAwODljZjU0MjNiZjcxYWFjYyxWSk5va2VmRQ%3D%3D">Ryan Walters</a> for his awesome work on the checkboxes and radio buttons, and sharing his code for floating labels.</p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/108916111680/bootswatch-332-released">23 January 2015</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/108916111680/bootswatch-332-released">Bootswatch 3.3.2 Released</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p>With the release of Bootstrap 3.3.2, Bootswatch is not far behind. You can check out the latest Bootstrap changes <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fblog.getbootstrap.com%2F2015%2F01%2F19%2Fbootstrap-3-3-2-released%2F&amp;t=NDFhMTAwYTMzOTNiOWU0ZGYzYzQyOTE1MjIwMDZhM2FmODRmOGVlMSxlaGZYbFJQZg%3D%3D">here</a>.</p>
                <p>In addition, a number of Bootswatch issues have been addressed, including:</p>
                <ul>
                    <li><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch%2Fissues%2F358&amp;t=ZWNlNDMzMjkwZDZiZDYyYzZjOGYzNTUxZDE2NTE0MDliNDc4YmUwOCxlaGZYbFJQZg%3D%3D">#358</a>:&nbsp;Select inputs in Paper are missing arrows in Chrome</li>
                    <li><span><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch%2Fissues%2F375&amp;t=OTQ1M2QzYzljZDQ0MjA4MGNjNGVmNDAwMGVkYzA4N2Q0YTJiYzA3NixlaGZYbFJQZg%3D%3D">#375</a>:&nbsp;</span><span>Paper: Input button does not render properly on iOS 8</span></li>
                    <li><span><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch%2Fissues%2F380&amp;t=ZGUxNTUyYzJlNzU5N2YzZWFkN2RjYTdlNGI5ZGRiYWNlZmY0YmFjNCxlaGZYbFJQZg%3D%3D">#380</a>:&nbsp;</span><span>Can we move the bootstrap-sass-official to devDependencies?</span></li>
                    <li><span><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch%2Fissues%2F381&amp;t=NGNiNDllYzA2ZTMwYTNkYzVlNDg2ZGEyMTc5MzE0NWI4NzdiNjNiZCxlaGZYbFJQZg%3D%3D">#381</a>:&nbsp;</span><span>Match also “contenteditable” with class “form-control”</span></li>
                    <li><span><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch%2Fissues%2F383&amp;t=ZThjODdhNWFhMTE1OTEyMmMzNmU2ZmM4YmVhYmM0NTg5MjBhYzI4NCxlaGZYbFJQZg%3D%3D">#383</a>:&nbsp;</span><span>Paper: select input-sm</span></li>
                    <li><span><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch%2Fissues%2F388&amp;t=YzgwMjBjMTAyZWFjZmEwNmQxZWIxOGM3MmEyNzM2NzVjN2NmYmJjMCxlaGZYbFJQZg%3D%3D">#388</a>:&nbsp;</span><span>Padding issue with .navbar-brand</span></li>
                </ul>
                <p><span>Thanks to the bug reporters and contributors!</span></p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/102875533806/bootswatch-adds-sass-support">17 November 2014</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/102875533806/bootswatch-adds-sass-support">Bootswatch Adds SASS Support</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p><img alt="image" src="http://31.media.tumblr.com/9ee470d819139649304bd8042167a625/tumblr_inline_nf3pb7XOxQ1qb17pp.png"></p>
                <p></p>
                <p>Bootswatch is supporting&nbsp;<a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fsass-lang.com%2F&amp;t=NmI0NmQ5MDI5YmExYWMwY2Q1MmMyODk4NjNkMDY2ZmViM2YzNTJmZixYSXR3Mmo1SA%3D%3D">SASS</a>! With Bootstrap offering an official SASS version for some time now, it’s only right Bootswatch did the same.&nbsp;You can now download <code>_variables.scss</code> and <code>_bootswatch.scss</code>, in addition to the usual CSS and LESS options.</p>
                <p>Also available is a new grunt task, <code>convert_less</code>, that can be used to convert all LESS files in your repo to SASS.</p>
                <p>Credit goes to <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fwww.gdmedia.tv%2F&amp;t=M2YzMmYwOTdkM2JhZjBiYjQ3NjUyNTk1NGE4N2VhY2M1Y2E5ODBhZixYSXR3Mmo1SA%3D%3D">Corey Sewell</a>, who’s generously submitted a pull request with the SASS source and ensured that LESS to SASS conversion work as smoothly as possible.</p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/97565009940/giveaway-bootswatch-merchandise">15 September 2014</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/97565009940/giveaway-bootswatch-merchandise">Giveaway: Bootswatch Merchandise</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p><img alt="image" src="http://38.media.tumblr.com/1479ca1c94500efff1a9d703dc3807f1/tumblr_inline_nbwn4uCwtD1qb17pp.jpg"></p>
                <p>We’re giving away Bootswatch merchandise this month! Three prize packs are up for grabs that include a t-shirt and stickers that feature the <a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fdribbble.com%2Fshots%2F1707545-Bootswatch-Logo&amp;t=ZTA3OTAxOTE1NzMxZGE2ZTFkZGZjNDg5OWU4N2NjNDlmZjM1ZWI5YyxxRWdkSjhmOQ%3D%3D" target="_blank">new logo</a>.</p>
                <p>There are two easy ways to enter the giveaway:</p>
                <ol>
                    <li><span>Follow </span><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Ftwitter.com%2Fbootswatch&amp;t=OTlkYjE2Y2RmNDZiMjJiMWYzMzE3OWYyYTc4Yzk2YzJjMjY0ODc1ZixxRWdkSjhmOQ%3D%3D">@bootswatch</a><span> on Twitter.</span></li>
                    <li><a href="http://t.umblr.com/redirect?z=https%3A%2F%2Ftwitter.com%2Fintent%2Ftweet%3Foriginal_referer%3Dhttp%253A%252F%252Fbootswatch.com%252F%26text%3DBootswatch%253A+Free+themes+for+Bootstrap%26tw_p%3Dtweetbutton%26url%3Dhttp%253A%252F%252Fbootswatch.com%26via%3Dbootswatch&amp;t=NzIyZmYzZTNjZDU5ZWNkNmIyMmJkYTFiZjU3MjQ3NjM4NTBlZWUwNixxRWdkSjhmOQ%3D%3D" target="_blank">Tweet</a><span> about Bootswatch</span></li>
                </ol>
                <p>You’re welcome to do both to double your chances. Winners will be picked at the end of September.</p>
                <p>T-shirts and stickers are also available for purchase, if you’d like to show your love for the project. Several t-shirt designs are available based on themes including Cyborg, Flatly, and Slate (pictured above). Head over to the <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fhelp%2F%23support&amp;t=M2NhNThjNzQ2NWRkMjU2NDMyYjdkY2UwNDZjZmYyN2IzM2E2ZTMxNyxxRWdkSjhmOQ%3D%3D">Support page </a>for more details.</p>
                <h3>Update</h3>
                <p>Winners have been chosen and contacted via Twitter. Thanks to all for participating!</p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
    <hr>
    <div class="row post text">
        <div class="col-lg-2">
            <div class="date">
                <a href="http://news.bootswatch.com/post/94634387436/new-themes-paper-and-sandstone">13 August 2014</a>
            </div>
            <!-- .date -->
            <div class="tweet share-link clearfix">
            </div>
        </div>
        <!-- .span3 -->
        <div class="col-lg-6 entry">
            <div class="title">
                <h2><a href="http://news.bootswatch.com/post/94634387436/new-themes-paper-and-sandstone">New Themes: Paper and Sandstone</a></h2>
            </div>
            <!-- .title -->
            <div class="POST">
                <!-- ANSWER -->
                <!-- /ANSWER -->
                <!-- TEXT -->
                <p>
                    <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com&amp;t=NmFmZGEzNTAwZTFkMjgyMGU4YmEyZWY4Zjc5MjFkNWRmYzMyZDViYyxwS25ETXhucw%3D%3D"><img src="http://33.media.tumblr.com/c9c46e51a6a5aa58bb307adedc36bb0d/tumblr_inline_na93f6R9Ym1qb17pp.png"></a>
                </p>
                <p>Two new themes have been added to the Bootswatch library: <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fpaper%2F&amp;t=Mjg2OGUxOTcyODA4M2M0NzMxZjk0ZmJiMmQ0ZWY5NWI4ZGEzM2JjNyxwS25ETXhucw%3D%3D">Paper</a> and <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fsandstone%2F&amp;t=M2QwOTY1NTE5YTI0NmI2MmYwYjI5MDYyMmE5ODU3YWFjY2U1OWU2YSxwS25ETXhucw%3D%3D">Sandstone</a>.</p>
                <p><a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fpaper%2F&amp;t=Mjg2OGUxOTcyODA4M2M0NzMxZjk0ZmJiMmQ0ZWY5NWI4ZGEzM2JjNyxwS25ETXhucw%3D%3D">Paper</a> takes inspiration from Google's&nbsp;<a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fwww.google.com%2Fdesign%2Fspec%2Fmaterial-design%2F&amp;t=YjdkYzZjMTAwZDI5NjFiMzlkYzk1Y2VlZjhiN2UxODdmYTY4YTJmZSxwS25ETXhucw%3D%3D" target="_blank">material design</a>&nbsp;manifesto. Features include animated form inputs and tabs, as well as progress bars with matching background colors. No button click animations yet, but if you’re up to the task of recreating them with CSS only,&nbsp;<a href="http://t.umblr.com/redirect?z=https%3A%2F%2Fgithub.com%2Fthomaspark%2Fbootswatch&amp;t=ZjUxNTI5OTUxODBkOTk1NjdkYTFhOGVlZDRmNzAwODZkNjlhZDUzYyxwS25ETXhucw%3D%3D" target="_blank">please contribute</a>.</p>
                <p><a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Fsandstone%2F&amp;t=M2QwOTY1NTE5YTI0NmI2MmYwYjI5MDYyMmE5ODU3YWFjY2U1OWU2YSxwS25ETXhucw%3D%3D">Sandstone</a> offers a warmer palette of tans, browns, and greens in this cold world of blues and grays.</p>
                <p>But Bootswatch giveth, and Bootswatch taketh away — Amelia has been deprecated. For now, you can still access it directly&nbsp;<a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fbootswatch.com%2Famelia%2F&amp;t=NGNmODVjMzZiYmM0NWQxOWM2NWMzZWI3Y2Y1Yzc5MzBjMzVlZGMzNixwS25ETXhucw%3D%3D">here</a> and through the API, but it will be removed in the next update.</p>
                <!-- /TEXT -->
                <!-- VIDEO -->
                <!-- /VIDEO -->
                <!-- PHOTO -->
                <!-- /PHOTO -->
                <!-- QUOTE -->
                <!-- /QUOTE -->
                <!-- LINK -->
                <!-- /LINK -->
                <!-- CHAT -->
                <!-- /CHAT -->
                <!-- AUDIO -->
                <!-- /AUDIO -->
            </div>
        </div>
        <!-- .entry -->
        <div class="col-lg-3 col-lg-offset-1">
            <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
        </div>
        <!-- .span3 -->
    </div>
    <!-- .row .post -->
</div>
{% endblock %}
