{% load i18n static %}
<!DOCTYPE html>
<html lang="zh-cn" style="background-color:#eee">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <!-- <title>{% block title %}{{ current_module.label }} - {{ block.super }}{% endblock %}</title> -->
        <title>大连理工大学xx实验室</title>
        {% block favicon %}<link href="{% static 'material/imgs/favicon.png' %}" rel="shortcut icon">{% endblock %}
        {% block css %}
        <link href="{% static 'material/css/materialize.css' %}" rel="stylesheet">
        <link href="{% static 'material/css/jquery.datetimepicker.css ' %}" rel="stylesheet">
        <link href="{% static 'material/css/forms.css ' %}" rel="stylesheet">
        <link href="{% static 'material/frontend/css/frontend.css' %}" rel="stylesheet">
        <link href="{% static 'material/frontend/css/font-awesome.css' %}" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block js %}
        <!--[if lt IE 9]>
            <script type="text/javascript" charset="utf-8">
                window.location.replace('/not_support/');
            </script>
            <meta http-equiv="Refresh" content="10; url=http://www.baidu.com/" />
        <![endif]-->
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        <script src="{% static 'material/js/materialize.js' %}"></script>
        <script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
        <script src="{% static 'material/js/jquery.formset.js' %}"></script>
        <script src="{% static 'material/frontend/js/jquery.activeNavigation.js' %}"></script>
        <script src="{% static 'material/frontend/js/jquery.pjax.js' %}"></script>
        <script src="{% static 'material/js/material_init.js' %}"></script>
        <script src="{% static 'material/frontend/js/frontend.js' %}"></script>
        {% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <body>

        {% block authenticate %}
        <!-- {% if user.is_authenticated %}
        <ul id="user-menu" class="dropdown-content">
            <li><a href="#!">{% trans "Profile" %}</a></li>
            <li><a href="#!">{% trans "Logout" %}</a></li>
            {% block user_menu_extra %}{% endblock %}
        </ul>
        {% endif %} -->
        {% endblock %}

        <header>
            <nav class="nav-top green">
                <a href="#" data-activates="nav-mobile" class="button-collapse full" style="margin-left: 10px;"><i class="mdi-navigation-menu"></i></a>

                <div class="nav-wrapper">
                    <div class="page-title hide-on-med-and-down">
                        {% block page_title %}<a href="{{ current_module.index_url }}">{{ current_module.label }}</a>{% endblock %}
                    </div>

                    <ul class="right">
                        {% block top_menu_extra %}

                        {% endblock %}
                       <!--  {% if user.is_authenticated %}
                       <li><a class="dropdown-button" href="#!" data-activates="user-menu"><img class="avatar left mdi-img circle" src="{% static 'material/frontend/imgs/default_user.png' %}">{{ user.get_full_name|default:user.username }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                       {% else %}
                       <li><a href="{% url 'login' %}" alt="Login"><i class="mdi-action-lock"></i></a></li>
                       {% endif %} -->
                    </ul>
                </div>

                <ul id="nav-mobile" class="side-nav fixed module-menu">
                    <li class="logo valign-wrapper">
                        <a href="/" class="no-navigation">{% block page_logo %}<img class="responsive-img" src="{% static 'material/imgs/logo.png' %}">{% endblock %}</a>
                    </li>

                    {% for module in modules %}
                    {% if current_module == module and module.menu %}
                    <li class="no-padding">
                        <div class="collapsible-body" style="display:block">
                            <ul class="collapsible" data-collapsible="expandable">
                                <li class="header active">
                                    <a class="collapsible-header no-pjax"><i class="{{ module.icon }}"></i> {{ module.label|default:"" }}</a>
                                    <div class="collapsible-body" style="display: block;">
                                        {% include module.menu %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li class="no-padding">
                        <a class="collapsible-header no-pjax" href="{{ module.index_url }}"><i class="{{ module.icon }}"></i> {{ module.label|default:"" }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            <div id="wrap">

            {% block breadcrumbs %}
            <div class="breadcrumbs">
                <div class="green darken-2 white-text">
                    {% block breadcrumbs_items %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}


            {% block content %}
            {% endblock %}

            </div>

            {% block footer %}
                <footer id="footer" class="page-footer green darken-4">

                  <div class="footer-copyright">
                      <div style="margin-left: 20px;">
                          Copyright © 2016 大连理工大学xx实验室(<a href="/admin/" title="后台管理系统">mLab</a>)  版权所有<span class="" style="margin-left: 20px;">联系我们: <a href="mailto:xx@dlut.edu.cn">xx@dlut.edu.cn</a>&nbsp;&nbsp;0411-84706550</span>
                    </div>
                </div>
              </footer>
            {% endblock %}

            {% endblock %}

            {% block messages %}
            {% if messages %}
            <script type="text/javascript">
                $(document).ready(function() {
                    {% for message in messages %}
                        Materialize.toast('{{ message|capfirst }}', 10000, 'alert-{{ message.tags }}')
                    {% endfor %}
                });
            </script>
            {% endif %}
            {% endblock %}
        </main>

        {% block load_indicator %}
        <div id="load_indicator" class="preloader-wrapper big active" style="position:absolute;left:45%;top:45%;display:none">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left"><div class="circle"></div></div>
                <div class="gap-patch"><div class="circle"></div></div>
                <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
        </div>
        {% endblock %}

    </body>
</html>
