{% extends "base.html" %} {% block script %}
<style>
img.avatar {
    max-width: 80%;
    height: auto;
}
</style>
{% endblock %} {% block content %}
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">成员介绍</li>
</ol>
<div class="row clearfix">
    <div class="col-lg-9">
        <h2>指导教师</h2>
        <img class="avatar img-responsive img-thumbnail" src="http://gs1.dlut.edu.cn/Supervisor/Front/dsxx/new/TutorPicDisplay.aspx?webpagename=MengJ" alt="">
        <h3>个人简介</h3>
        <p>
            <ul>
                <li>2008.09—2012.12 大连理工大学 计算机应用技术专业 获博士学位</li>
                <li>1986.09—1989.07 吉林大学 计算机应用专业 获硕士学位</li>
                <li>1982.09—1986.07 吉林大学 计算机应用专业 获学士学位</li>
                <li>
                    2010.01—2011.01 美国San Jose State University 访问学者
                </li>
                <li>1998.07—至今 大连理工大学 计算机科学与技术学院 教师</li>
                <li>1989.07—1998.06 吉林大学 计算机科学与工程系 教师</li>
            </ul>
        </p>
        <p>
            主讲的课程: ＰＡＳＣＡＬ程序设计（英语教学）、Ｃ/C++语言（英语教学）、ＰＲＯＬＯＧ语言程序设计、数据结构、人工智能、数据库程序设计、计算机文化基础、计算机软件基础、管理预测决策、专业英语、数据仓库与数据挖掘、工程计算（英语教学）等。</p>

        <hr>

        <h2>在读博士</h2>

        <h2>在读硕士</h2>

    </div>
</div>
{% endblock %}
