{% extends 'base.html' %} {% block breadcrumbs_items %}
<a href="/home/">首页</a> ⟩<a class="active">{{current_module.label}}</a> {% endblock %} 


{% block content %}
<div class="row">

    <div class="col l8 m12 ">
        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">文本挖掘与机器学习（Text Mining and Machine Learning）</span>
            <div class="card-body">
                <h5>简介</h5>
                <div class="intro-content">
                    <p>文本挖掘是从海量文本中挖掘出用户感兴趣的有价值的新颖的知识模式，是一个从非结构化文本信息中获取用户感兴趣或者有用的模式的过程，文本挖掘涵盖多种技术，包括信息抽取、信息检索、自然语言处理、数据挖掘和机器学习。互联网的信息多样化，其中文本信息是最重要的部分，因此文本挖掘是Web内容挖掘的一种重要形式。我们根据Web文本挖掘的流程，实现了Web文本的预处理、特征提取、分类、聚类等基本挖掘任务，搭建了一个可视化Web文本挖掘平台。</p>
                </div>
                 <h5>成员</h5>
                <div class="intro-content">
                    <a href="#">张林伟</a>，<a href="#">郝涵</a>，<a href="#">子君</a>
                </div>
                 <h5>成果展示</h5>
                <div class="intro-content">
                   <ol>
                    <li class="li"> <a href="">植物抗性基因预测平台的设计和实现</a></li>
                    <li class="li"> <a href="">植物抗性基因预测平台的设计和实现</a></li>
                    <li class="li"> <a href="">植物抗性基因预测平台的设计和实现</a></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="card card-panel">
            <span class="card-title green-text text-darken-3">文本挖掘与机器学习（Text Mining and Machine Learning）</span>
            <div class="card-body">
                <h5>简介</h5>
                <div class="intro-content">
                    <p>文本挖掘是从海量文本中挖掘出用户感兴趣的有价值的新颖的知识模式，是一个从非结构化文本信息中获取用户感兴趣或者有用的模式的过程，文本挖掘涵盖多种技术，包括信息抽取、信息检索、自然语言处理、数据挖掘和机器学习。互联网的信息多样化，其中文本信息是最重要的部分，因此文本挖掘是Web内容挖掘的一种重要形式。我们根据Web文本挖掘的流程，实现了Web文本的预处理、特征提取、分类、聚类等基本挖掘任务，搭建了一个可视化Web文本挖掘平台。</p>
                </div>
                 <h5>成员</h5>
                <div class="intro-content">
                    <a href="#">张林伟</a>，<a href="#">郝涵</a>，<a href="#">子君</a>
                </div>
                 <h5>成果展示</h5>
                <div class="intro-content">
                   <ol>
                    <li class="li"> <a href="">植物抗性基因预测平台的设计和实现</a></li>
                    <li class="li"> <a href="">植物抗性基因预测平台的设计和实现</a></li>
                    <li class="li"> <a href="">植物抗性基因预测平台的设计和实现</a></li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>


    <div class="col l4 m12">
        <div class="card">
            <div class="card-content"><span class="card-title green-text text-darken-3">历史科研项目</span>
                <div class="card-body">
                    <span class="card-title">2012年</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>

                    <span class="card-title">2011年</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>

                    <span class="card-title">2010年</span>
                    <ul>
                        <li>孙晓玲-作者合作网络的结构及其演化与预测研究</li>
                        <li>徐博-基于蛋白质关系网络的复合物抽取研究</li>
                        <li>王健-面向生物医学领域的信息抽取关键技术研究</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
</div>
</div>
{% endblock %}
